html,
body {
	height: 100%;
}

body {
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-family: sans-serif;
	font-weight: 100;
}

h1 {
	text-align: center;
   color: #CCE6FF;
}

a {
text-decoration: none;
font-weight: bold;
color: #CCF7FF;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}


th,
td {
	text-align: center;
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #EEFFE6;
}

th {
	text-align: center;
}

thead {
	th {
		background-color: #55608f;
	}
}

tbody {
	tr {
	text-align: center;
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: 1%;
				bottom: 1%;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}
